.cmty-topic-cell,
#header,
#header *:not(.logo-img),
#page-wrapper,
.cmty-topic-watchers,
.cmty-tag-filter > *,
.cmty-category-itembox-wrapper
.aops-scroll-outer,
.cmty-post-wrapper,
.cmty-post-textarea,
.cmty-post-preview{
  background-color: black !important;
  border-color: darkgray !important;
  color: white;
}
.aops-scroll-fade-bottom, .aops-scroll-fade-top{
    background: black !important;
}
.logo-img, .latex{
    background-color: white !important;
    filter: invert(1) !important;
}
.menu-cart-items{
    background-color: white !important;
    color: black !important;
}
input, .cmty-post-textarea{
    color: white !important;
}
.cmty-post-username:not(*:not(.cmty-post-username)) > *{
    color: white !important;
}
.feed-tab{
    color: gray !important;
}
.feed-subfeed-new-topic{
  color: white !important;
}
.feed-subfeed-button-selected{
  background: gray !important;
  color: white !important;
}
.topic-unread{
    background: #333 !important;
}
.topic-unread .cmty-topic-watchers{
    background-color: #333 !important;
}
.topic-unread .cmty-topic-cell-post{
    color: white !important;
}

