/*Styles most things that just need this*/
.cmty-topic-cell,
#header,
#community-all > * > *,
.cmty-topic-watchers,
.cmty-tag-filter > *,
.cmty-category-itembox-wrapper
.aops-scroll-outer,
.cmty-post-wrapper,
textarea, input,
.cmty-items-input-box,
.cmty-post-preview,
.cmty-index-card,
.cmty-topic-mini-reply,
.bbcode_quote,
.online-section-outer,
.cmty-hide-content,
.cmty-category-cell-bottom,
.header-box .round-dropdown, .header-box .round-dropdown .cmty-main-crumb-search,
.site.selected,
.cmty-posting-submenu,
.aops-modal-body,
#page-wrapper{
  background-color: black !important;
  border-color: darkgray !important;
  color: white;
}

#top-bar,
.aops-panel,
.cmty-friend-box,
.image-content > *,
.cmty-search-form > *,
.intro-video-outer,
.intro-video-outer .video-description,
.ebk-index-item-main,
.grid .main-option,
.aops-panel .box,
.cmty-post-html pre[style="background-color:#f4f4f4;padding:10px"],
.cmty-post-poll > .cmty-poll-display,
.form,
.aops-modal-frame,
.cmty-search-page .cmty-category-cell-heading{
  background-color: #222 !important; /*Was using 333 but 222 makes some colored text in some places MUCH easier to read.*/
  border-color: darkgray !important;
  color: white;
}
/*Latex and asy*/
.latex, .latexcenter, .asy-image{
    background-color: transparent !important;
    filter: invert(1) !important;
}
/*Some other stuff*/
.copy{
    color: white;
}
.grid .main-option a,
.cmty-itemlist-username{
    color: white !important;
}
#top-bar .site:not(.selected){
    color: lightgray !important;
}
.site.selected{
    color: white !important;
}
#breadcrumbs-wrapper{
    background-color: #004d53 !important;
}
.aops-scroll-fade-bottom, .aops-scroll-fade-top{
    background: black !important;
}
.menu-cart-items{
    background-color: white !important;
    color: black !important;
}
input, .cmty-post-textarea{
    color: white !important;
}
.cmty-post-username:not(.cmty-forum-mod):not(.cmty-forum-admin) > a{
    color: white !important;
}
.cmty-phone-poster:not(.cmty-forum-mod):not(.cmty-forum-admin) > *{ /*A stupid hack necessary because there is something that I can't override*/
    filter: invert(1) !important;
}
.feed-tab{
    color: gray !important;
}
.feed-subfeed-new-topic{
  color: white !important;
}
.feed-subfeed-button-selected{
  background: gray !important;
  color: white !important;
}
.topic-unread{
    background: #444 !important;
}
.topic-unread .cmty-topic-watchers{
    background-color: #444 !important;
}
.cmty-topic-cell-post{
    color: #ddd !important;
}
.triangle{
    display: none !important;
}
.menubar-label-link:not(.selected){
    color: rgb(75,75,200) !important;
}
